@font-face {
  font-family: "IRANSans";
  src: local("IRANSans_FaNum"),
    url(../font/IRANSans_FaNum.ttf) format("truetype");
}

@font-face {
  font-family: "Aviny";
  src: local("Aviny"), url(../font/Aviny.ttf) format("truetype");
}

body {
  background-color: #f8f8fa;
  font-family: "IRANSans";
}

.nav-list {
  font-family: "Aviny";
  font-size: 1.125rem;
}


.product-title {
  font-family: "Aviny";
  font-size: 1.7rem;
}